img {
  width: 100%;
}

.navbar {
  background-color: #101c38;
}
.fa.fa-edit {
  color: #566ce9;
}

.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: rgb(247, 242, 243);
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: rgb(220, 220, 220);
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.error{
  color:red;
  font-size: 14px;
  font-weight: 600;
}
.AccTypeMainContainer{
  border: 1px solid #c1c1c1;
    border-radius: 6px;
    padding: 10px;

}
.AccTypeMainContainer h4{
  font-size: 20px;
}

.AccTypeContainer label{
  font-size: 20px;
    color: #525050;
    padding: 5px;
}

.AccTypeContainer input[type=radio] {
  margin: 5px;

}

.addbooksHeading{
  text-align: center;
    text-transform: uppercase;
    color: #525252;
}

.mainHr{
  margin-top: 6px;
  /* padding-left: 9px; */
  margin-left: 17px;
  margin-right: 15px;
  border: 1px dashed #007bff82;
}

.modalHeaderText{
  color: #364e07;
    font-weight: 700;

}
.modalBodyText{
  font-size: 18px;
}

.modal-footer button{
  background-color: #007bfff0;
    border-color: #007bff82;
}

.modal-footer button:hover{
  color:#007bfff0;
  background-color: white;
    border-color: #007bff82;
}